/* header */

#header {
	border: 5px solid black;
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	font-size: 100px;
}

#titre {
	text-align: center;
}

#liens {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 25px;
}

#liens a {
	text-decoration: none;
	text-align: center;
	color: green;
	flex-grow: 1;
	padding: 10px;
	background-color: rgb(250, 235, 250);
}

#liens a:hover {
	background-color: purple;
}

#shitpost_gratos {
	position: fixed;
	top: 0;
	bottom: 0;
}

/* footer */

#footer {
	border: 5px solid black;
	background-color: rgb(255, 255, 255);
	font-size: 32px;
	padding: 10px;
}

/* side bar */

#lien_side {
	display: flex;
	flex-direction: column;
}

#lien_side a {
	text-decoration: none;
	text-align: center;
	color: green;
	padding: 10px;
	font-size: 25px;
}

#lien_side a:hover {
	background-color: purple;
}

/* content accueil */

#accueil {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
}

#accueil div {
	text-decoration: none;
	border: 5px solid black;
	background-color: rgb(189, 122, 126);
	margin: 10px;
	margin-left: 100px;
	padding: 15px;
	width: 30%;
}

#article p {
	text-decoration: none;
	color: rgb(243, 219, 243);
	font-size: 25px;
}

#article h1 {
	text-decoration: none;
	color: rgb(243, 219, 243);
	font-size: 40px;
}

#article a {
	text-decoration: none;
	color: rgb(180, 102, 161);
	font-size: 30px;
	background-color: rgb(103, 147, 6, 1.0);
}

.textecache {
	display: none;
}

button {
	text-decoration: none;
	border: 5px solid black;
}

/* général body */

#body {
	background-color: rgb(180, 20, 20);
}

#sidebar {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

#sidebar_spec {
	border: 5px groove rgb(142, 25, 102, 0.3);
	background-color: rgb(255, 255, 255);
	padding: 10px;
	margin: 10px;
	width: 10%;
}